body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    font-size: 16px; 
    line-height: 1.6; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #fff;
    color: #333;
}

nav a.current {
    background-color: #fff;
    color: #333;
    font-weight: bold;
}

section {
    padding: 20px;
    margin-top: 60px;
}


#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.project {
    flex: 0 0 90%;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}



#home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; 
}

.education-section h3,
.work-section h3 {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.education-grid,
.work-grid {
    display: grid;
    grid-gap: 15px; 
}

.education, .work-experience {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.education:hover, .work-experience:hover {
    transform: scale(1.05);
}


@media only screen and (max-width: 600px) {
    #home {
        grid-template-columns: 1fr;
    }

    .education-grid,
    .work-grid,
    #projects {
        grid-template-columns: 1fr;
    }

    .education,
    .work-experience,
    .project {
        flex: 0 0 80%;
    }
}

.image-gallery,
.hobbies-interests {
    margin-bottom: 20px; 
}
.image-gallery img {
    max-width: 100%;
    height: auto; 
    width: 50%; 
    display: block;
    margin: 0 auto; 
}

@media only screen and (max-width: 600px) {
    .image-gallery img {
        max-width: 100%; 
        height: auto; 
    }

    .hobbies-interests p {
        margin-bottom: 10px;
    }
}

.hobbies-interests p:first-child {
    margin-top: 0; 
}

.hobbies-interests p:last-child {
    margin-bottom: 0; 
}


.education-section p:first-child,
.work-section p:first-child {
    margin-top: 0; 
}

.education-section p:last-child,
.work-section p:last-child {
    margin-bottom: 0; 
}